@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

@theme {
  --color-brand-black: #000000;
  --color-brand-gold: #E9A319;
  --color-brand-gold-light: #FEF08A;
  --color-brand-gold-dim: #854D0E;
  --color-brand-dark-gray: #0a0a0a;
  
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-gold);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
