@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap');

@font-face {
  font-family: "Alliance No1";
  src: url("/fonts/Degarism Studio - Alliance No.1 Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alliance No2";
  src: url("/fonts/Degarism Studio - Alliance No.2 Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@import "tailwindcss";

@theme {
  --color-brand-black: #000000;
  --color-brand-gold: #E9A319;
  --color-brand-gold-light: #FCD34D;
  --color-brand-gold-dim: #854D0E;
  --color-brand-dark-gray: #0a0a0a;

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Alliance No1", "Alliance No2", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-gold);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}